.technologies {
    padding: 20px;
    color: #fff;
}

.technologies__title {
    font-size: 2em;
    margin-bottom: 20px;
}

.technologies__list {
    margin-bottom: 40px;
}

.technology {
    margin-bottom: 30px;
}

.technology__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    padding: 0 20px;

}

.technology__name {
    font-size: 1em;
}

.technology__level-text {
    font-size: 1em;
}

.technology__bar {
    height: 20px;
    background-color: #252541;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.technology__level {
    height: 100%;
    background: linear-gradient(90deg, #945DD6 0%, #697BD1 67%, #13ADC7 100%);
    border-radius: 10px;
}

.technologies__subtitle {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.technologies__skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill {
    background-color: #252541;
    padding: 5px 10px;
    border-radius: 5px;
}
