.projects {
    display: flex;

}
.projects .info-sidebar {
    width: 388px;
    height: 91.8vh;
    border-right: 1px solid #1E2D3D;
}
.projects__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.projects__list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
    flex-direction: row;
    padding: 15px 20px;
    max-height: 81.8vh;
    overflow-y: auto;
}
.projects__list-item {
    flex: 1 1 30%;
    max-width: 30%;
}
.projects__list-item-title {
    font-size: 12px;
}
.projects__list-item-title-label {
    font-weight: bold;
    color: #5565E8;
}
.projects__list-item-title-name {
    color: #607B96;
}