.about-me {
    display: flex;

}

.about-me__sidebar {
    display: flex;
}

.vertical-toolbar {
    height: 91.8vh;
    border-right: 1px solid #1E2D3D;
}

.about-me__info {
    width: 251px;
    border-right: 1px solid #1E2D3D;
}
