.navbar {
    position: sticky;
    top: 0;
    max-width: 100%;
    width: 100%;
    height: 4vh;
    display: flex;
    z-index: 1000;
    font-size: 16px;

    border: 1px solid #1E2D3D;
}

.navbar__title {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar__list {
    list-style: none;
    display: flex;
    margin: 0;
    flex-grow: 1;
    height: 100%;
    padding: 0 0 0 150px;
}

.navbar__item {
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-left: 1px solid #1E2D3D;
}
.navbar__item:last-child {
    border-right: 1px solid #1E2D3D;
}

.navbar__item:hover, .navbar__contact:hover, .navbar__item--active, .navbar__contact--active {
    border-bottom: 1px solid #FEA55F;
}

.navbar__item:hover a, .navbar__contact:hover a, .navbar__item--active a, .navbar__contact--active a{
    color: #ffffffff;
}

.navbar__contact {
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-left: 1px solid #1E2D3D;
}

.navbar__link {
    text-decoration: none;
    display: block;
    color: #607B96;
}